/* .menu{
 margin-left: 7vw;
 margin-top: 3vh;
 margin-bottom: 3vh;
 background-color: #Dbd6d6;
 height: 15vh;
 width: 30vw;
 border-radius:  100px / 120px 10px;;
 padding: 50px;
 padding-top: 5px;
} */

.menu{
 overflow: scroll;
 position: relative;
 margin-left: 10vw;
 margin-right: 10vw;
 /* width: 90vw; */
 height: 60vh;
}
img{
 width: 80vw;
}
